button, .btn {
  background-color: $darkgrey;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: inherit;
  display: flex;
  font: inherit;
  justify-content: space-between;
  padding: 1rem 2rem;

  &.btn-purple {
    background-image: linear-gradient(135deg, rgb(91, 115, 224), rgb(165, 73, 165));
    border: 2px solid $lightgrey;
  }
}
