.navbar {
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 1rem 2rem;

  a, button {
    background-color: transparent;
    box-shadow: none;
    font-size: 1.5rem;
    padding: 0;
  }

  h2 {
    flex-grow: 1;
    font-size: 1.5rem;
    text-align: center;
  }

  .last {
    text-align: right;
  }
}
